<><div class="login-page">
    <div class="login-div">
        <h2>Log In</h2>
        <form class="login-form">
            <div>
                <input type="text" id="email-login" class="login" placeholder="Email" />
            </div>
            <div>
                <input type="password" id="password-login" class="login" placeholder="Password" />
            </div>
            <div>
                <button type="submit" id="login-btn">Login</button>
            </div>
        </form>
    </div>

    <div class="signup-div">
        <h2>Sign Up</h2>
        <form class="signup-form">
            <div>
                <input type="text" id="username-signup" class="signup" placeholder="Username" />
            </div>
            <div>
                <input type="text" id="email-signup" class="signup" placeholder="Email" />
            </div>
            <div>
                <input type="password" id="password-signup" class="signup" placeholder="Password" />
            </div>
            <div>
                <button type="submit" id="signup-btn">Sign Up</button>
            </div>
        </form>
    </div>
</div><script src="/javascript/login.js"></script></>