
* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  margin: 0;
  height: 100%;
}

main {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover, .nav-link:hover {
  font-weight: bold;
}

.nav-link {
  color: white;
  padding: 30px;
  font-size: 20px;
}

.title-link {
  color: black;
}

header {
  background-color: maroon;
  height: 100%;
  margin: 0;
  padding: 30px;
}

h1 {
  color: white;
  text-align: center;
  font-size: 30px;
}

nav {
  border-bottom: 2px white solid;
  width: 100%;
}

.post {
  margin: 20px;
}

.login-form, .signup-form {
  padding: 10%;
  display: inline-block;
}

.login-div h2, .signup-div h2 {
  text-align: center;
}

.login, .signup {
  float: left;
  margin: 10px;
  width: 20vw;
}

button {
  background-color: maroon;
  color: white;
  padding: 8px;
  margin: 10px;
  border: 0;
  border-radius: 5px;
  float: center;
}

.login-page {
  display: flex;
  justify-content: space-around;
}

.single-post {
  text-align: center;
  margin: 30px;
}

.single-post-article {
  margin: 30px;
}

textarea {
  height: 80px;
  width: 300px;
  resize: none;
}

.create-post-div {
  text-align: center;
  padding: 20px;
}

.post-title {
  width: 50vw;
  margin: 20px;
}

.post-body {
  height: 300px;
  width: 50vw;
}

.my-post-header {
  text-align: center;
}

.edit-link, .my-posts {
  display: inline-block;
  margin: 20px;
}

.edit-div {
  text-align: center;
}

.edit-form {
  margin-bottom: 50px;
}

.comment {
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  text-align: left;
}