body {
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 30px;
}

a:hover {
  font-weight: bold;
}

header {
  background-color: maroon;
  height: 100%;
  margin: 0;
  padding: 30px;
}

h1 {
  color: white;
  text-align: center;
  font-size: 30px;
}

nav {
  border-bottom: 2px white solid;
  width: 100%;
}