body {
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 30px;
}

a:hover {
  font-weight: bold;
}

header {
  background-color: maroon;
  height: 100%;
  margin: 0;
  padding: 30px;
}

h1 {
  color: white;
  text-align: center;
  font-size: 30px;
}

nav {
  border-bottom: 2px white solid;
  width: 100%;
}
.login-form {
  padding: 10%;
  display: inline-block;
}

.signup-form {
  padding: 10%;
  display: inline-block;
}

input {
  float: left;
  margin: 10px;
}

button {
  background-color: maroon;
  color: white;
  padding: 8px;
  margin: 10px;
  border: 0;
  border-radius: 5px;
  float: center;
}

.login-page {
  display: flex;
  justify-content: space-around;
}